/*  your css code here. If applicable */
/* styles.css */

#container {
  margin: 10px;
  position: relative;
	display: inline;
}

#container::before,
#container::after {
  content:"Before Element";
  color: #f00;
  font-size: 20px;
  
}

#container::before {
  top: -30px;
  left: 0;
	
}

#container::after {
	content:"After element";
  bottom: -30px;
  right: 0;
}
